<!DOCTYPE HTML>
<html>
<head>
<script>
window.onload = function() {

var dataPoints = [];

var chart = new CanvasJS.Chart("chartContainer", {
	animationEnabled: true,
	theme: "light1",
	title: {
		text: "Daily Sales Data"
    },
    dataPointWidth: 50,
	axisY: {
		title: "Sales",
		titleFontSize: 24
	},
	data: [{
        type: "column",
		yValueFormatString: "₹ #,###",
		dataPoints: dataPoints  
	}]
});

function addData(data) {
	for (var i = 0; i < data.length; i++) {
		dataPoints.push({
			x: new Date(data[i]._id),
			y: data[i].total
		});
    }
    console.log("data",dataPoints);
	chart.render();

}

$.getJSON("/test", addData);

}
</script>
</head>
<body>
<div id="chartContainer" style="height: 500px; width: 100%;"></div>
<script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</body>
</html>