
<!DOCTYPE html>
<html lang="en">

<head>
  <head>
  <title>
    MedEasy
  </title>
  <!-- <link href="css\material-dashboard.css" rel="stylesheet">
  <link rel="stylesheet" href="css\map.css"> -->

  <link href="/stylesheets/css/material-dashboard.css" rel="stylesheet">
  <link href="/stylesheets/css/map.css" rel="stylesheet">

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" ></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
</head>

<body class="dark-edition">
  <div class="wrapper ">
    <% include ../partials/admin-sidebar %>

    <div class="main-panel">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top " id="navigation-example">
          <div class="container-fluid">
            <div class="navbar-wrapper">
              <div class="row ">
                <a class="navbar-brand" href="javascript:void(0)">Map</a>
              </div>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation" data-target="#navigation-example">
              <span class="sr-only">Toggle navigation</span>
              <span class="navbar-toggler-icon icon-bar"></span>
              <span class="navbar-toggler-icon icon-bar"></span>
              <span class="navbar-toggler-icon icon-bar"></span>
            </button>
          </div>
         </nav>
        <!-- End Navbar -->


  <div class="content">
        <div class="container-fluid contact">
          <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 c">

                  <br>
                      <h5  class="head_contact">Contacts</h5>
                      <br>
                      <dl class="contact-list">
                        <dt><i class="fa fa-globe" ></i>Address:</dt>
                        <dd>Shop No 1, Gandhi Market, Mahatma Gandhi Road, Ghatkopar East, Ghatkopar East, Mumbai, Maharashtra 400077, India.
                        </dd>
                      </dl>
                      <dl class="contact-list">
                        <dt><i class="fa fa-envelope"></i>Email:</dt>
                        <dd><a href="mailto:#">medeasy@gmail.com</a></dd>
                      </dl>
                      <dl class="contact-list">
                        <dt><i class="fa fa-phone" ></i>Phone No.:</dt>
                        <dd><a href="tel:#">12334567890</a> <span>or</span> <a href="tel:#">0987654321</a>
                        </dd>
                      </dl>
                  
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  
              <div class="mapouter">
                  <div class="gmap_canvas">
                      <iframe width="100%" height="550px" id="gmap_canvas" src="https://maps.google.com/maps?q=mahavir%20medical%20stores%2Cghatkopar%20east&t=&z=13&ie=UTF8&iwloc=&output=embed" scrolling="yes" marginheight="2" >
                      </iframe>
                      <a href="https://www.enable-javascript.net/blog/divi-discount/"></a>
            </div>
        </div>
    </div>
</div>

      </div>
    <!-- </div> -->
  </div>
  <% include ../partials/admin-footer %>