


<!DOCTYPE html>
<html lang="en">

<head>
  <title>
    Admin Page
  </title>
  <link href="/stylesheets/css/material-dashboard.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <style>
    input::-webkit-datetime-edit{ color: transparent; }
    input:focus::-webkit-datetime-edit{ color: #a9afbbd1;; }
</style>
</head>

<body class="dark-edition">
  <div class="wrapper ">
    <% include ../partials/admin-sidebar %>

    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top " id="navigation-example">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <a class="navbar-brand" href="javascript:void(0)">User</a>
          </div>
        </div>
      </nav>
      <!-- End Navbar -->
      <div class="content" >
        <div class="container" style="width: 70%; margin: 0 auto;">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title">Add New Product</h4>
                </div>
                <div class="card-body">
                  <form action="/admin/store" method="POST">
                    <div class="row">
                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="bmd-label-floating">Name</label>
                          <input type="text" name="title" class="form-control">
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="bmd-label-floating">Brand</label>
                          <input type="text" name="brand" class="form-control">
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label style="color:rgb(169, 169, 169)">Select a category</label>
                          <div class="btn-group">
                            
                      <select name="select" class="select">
                        <option value="ayurveda">
                          <li class="dropdown-item" name="category">Ayurveda</li> 
                        </option>
                        <option value="baby-and-mom-care">
                          <li class="dropdown-item"name="category">Baby & Mom Care</li>
                        </option>
                        <option value="diabetic-care">
                          <li class="dropdown-item"  name="category">Diabetic Care</li>
                        </option>
                        <option value="health-conditions">
                          <li class="dropdown-item" name="category">Health Conditions</li>
                        </option>
                        <option value="homeopathy">
                          <li class="dropdown-item" name="category">Homeopathy</li>
                        </option>
                        <option value="medicines">
                          <li class="dropdown-item" name="category">Medicines</li>
                        </option>
                        <option value="nutritions">
                          <li class="dropdown-item" name="category">Nutritions</li>
                        </option>
                        <option value="personal-care">
                          <li class="dropdown-item"name="category">Personal care</li>
                        </option>

                      </select>
                      
                  </div>
                        </div>
                      </div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">Manufacturing date</label>
                          <input type="text"  name="mfgDate" class="form-control">
                        </div>
                      </div>
                      <div class="col-md-6">
                        
                        <div class="form-group">
                          <label class="bmd-label-floating">Expiry date</label>
                          <input type="text" name="expDate"class="form-control">
                        </div>
                      </div>
                    </div>
                    <br>
                  <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">Price</label>
                          <input type="text"  name="price" class="form-control">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">Tablets/ml</label>
                          <input type="text" name="tablets" class="form-control">
                        </div>
                      </div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="col-md-8">
                        <div class="form-group">
                          <label class="bmd-label-floating">Image url</label>
                          <input type="text" name="image" class="form-control">
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="bmd-label-floating">Qty</label>
                          <input type="number" name="qty" class="form-control" min="1">
                        </div>
                      </div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="bmd-label-floating">Tags</label>
                          <input type="text" name="_tags" class="form-control">
                        </div>
                      </div>
                      <!-- <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">Tax</label>
                          <input type="text" name="_tax" class="form-control">
                        </div>
                      </div> -->
                      </div>
                    <br>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label>Composition</label>
                          <div class="form-group">
                            <label class="bmd-label-floating"></label>
                            <textarea class="form-control" rows="2" name="composition"></textarea>
                          </div>
                        </div>
                      </div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label>Description</label>
                          <div class="form-group">
                            <label class="bmd-label-floating"></label>
                            <textarea class="form-control" rows="3"name="description"></textarea>
                          </div>
                        </div>
                      </div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label>Precautions</label>
                          <div class="form-group">
                            <label class="bmd-label-floating"></label>
                            <textarea class="form-control" rows="2" name="precautions"></textarea>
                          </div>
                        </div>
                      </div>
                    </div>
                    <br>
                      
                    <button type="submit"  class="btn btn-primary pull-left">Go back</button>
                    </a>
                    <button type="submit" class="btn btn-primary pull-right">Submit</button>
                    <div class="clearfix"></div>
                  </form>
                </div>
              </div>
            </div>
           
          </div>
        </div>
      </div>
      
    </div>
  </div>
  <% include ../partials/admin-footer %>