<!DOCTYPE html>
<html lang="en">

<head>
  <title>
    MedEasy
  </title>
  <!-- <link href="css\material-dashboard.css" rel="stylesheet">
    <link href="css\search.css" rel="stylesheet"> -->
    <link href="/stylesheets/css/material-dashboard.css" rel="stylesheet">
    <link href="/stylesheets/css/search.css" rel="stylesheet">


  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 

</head>
<script src="/javascripts/search.js"></script>
<body class="dark-edition">
  <div class="wrapper ">
    <% include ../partials/admin-sidebar %>

    <div class="main-panel">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top " id="navigation-example">
          <div class="container-fluid">
            <div class="navbar-wrapper">
              <div class="row ">
                <a class="navbar-brand" href="javascript:void(0)">Users</a>
              </div>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation" data-target="#navigation-example">
              <span class="sr-only">Toggle navigation</span>
              <span class="navbar-toggler-icon icon-bar"></span>
              <span class="navbar-toggler-icon icon-bar"></span>
              <span class="navbar-toggler-icon icon-bar"></span>
            </button>
          </div>
         </nav>
        <!-- End Navbar -->
     <div class="content">
        <div class="container">
          <div class="row">
        
            <div class="col-md-6">
              <span >
                <div class="input-group ">
                          <input class="form-control searchh"type="text" id="myInput" style="background-color:transparent;border:0;border-bottom:purple;"onkeyup="user_search()" placeholder="Search..">
                      </div>
              </span>      
            </div>     
          </div>
    
          <br>
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title">Users</h4>
                </div>
                <div class="card-body table-responsive">
                  <table class="table  table-striped" id="users">
                   <thead class="text-warning">
                      <th>Sr No.</th>
                      <th>ID</th>
                      <th>Name</th>
                      <th>Email</th>
                    </thead>
                    <tbody>
                      <% var sr = 0; %>
                      <% users.forEach(function(user){ %>
                      <% sr = sr+1; %>
                        <tr>
                          <td><%= sr %></td>
                          <td><%= user._id %></td>
                          <td><%= user.fullname %></td>
                          <td><%= user.email %></td>
                        </tr>
                      <% }); %>
                    </tbody>
                  </table>
                </div>
              </div>  
            </div>            
          </div>
        </div>
      </div>
  </div>
 </div>



   
 <% include ../partials/admin-footer %>