<div class="sidebar" data-color="purple" data-background-color="black" data-image="/images/sidebar-1.jpg">
    <div class="logo">
      <a href="/admin" class="simple-text logo-normal">
        ADMIN 
      </a>
    </div>
    <div class="sidebar-wrapper">
      <ul class="nav">
        <li class="nav-item  ">
          <a class="nav-link" href="/admin">
            <i class="material-icons">dashboard</i>
            <p>Dashboard</p>
          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="/admin/orders">
            <i class="material-icons">content_paste</i>
            <p>Orders</p>
          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="/admin/pending-orders">
            <i class="material-icons">content_paste</i>
            <p>Pending Orders</p>
          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="/admin/store">
            <i class="material-icons">store</i>
            <p>Store</p>
          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="/admin/users">
            <i class="material-icons">supervised_user_circle</i>
            <p>Users</p>
          </a>
        </li>
        <li class="nav-item ">
            <a class="nav-link" href="/admin/admins">
              <i class="material-icons">supervised_user_circle</i>
              <p>Admins</p>
            </a>
          </li>
        <li class="nav-item ">
          <a class="nav-link" href="/admin/map">
            <i class="material-icons">location_ons</i>
            <p>Maps</p>
          </a>
        </li>
      </ul>
    </div>
  </div>