<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="sidebar" data-color="purple" data-background-color="black" data-image="/images/sidebar-1.jpg">
    <div class="logo">
      <a href="/admin" class="simple-text logo-normal">
        <i class="material-icons">person</i>
        <%= currentUser.fullname %> 
      </a>
    </div>
    <div class="sidebar-wrapper">
      <ul class="nav" id="sidebarr">
        <li class="nav-item active" id="dashboard">
          <a class="nav-link" href="/admin">
            <i class="material-icons">dashboard</i>
            <p>Dashboard</p>
          </a>
        </li>
        <li class="nav-item" id="Orders" >
          <a class="nav-link" href="/admin/orders">
            <i class="material-icons">content_paste</i>
            <p>Orders</p>
          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="/admin/pending-orders">
            <i class="material-icons">event</i>
            <p>Pending Orders</p>
          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="/admin/store">
            <i class="material-icons">store</i>
            <p>Store</p>
          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="/admin/users">
            <i class="material-icons">supervised_user_circle</i>
            <p>Users</p>
          </a>
        </li>
        <li class="nav-item ">
            <a class="nav-link" href="/admin/admins">
              <i class="material-icons">how_to_reg</i>
              <p>Admins</p>
            </a>
          </li>
        <li class="nav-item ">
          <a class="nav-link" href="/admin/map">
            <i class="material-icons">location_ons</i>
            <p>Maps</p>
          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="/user/logout">
            <i style="transform: rotate(270deg);" class="material-icons">get_app</i>
            <p>Log out</p>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <script>
//     $('#dashboard').addClass('active');
//     $('#sidebarr li a').on('click', function (e) {
//     e.preventDefault();
//     $('#sidebarr li a.active').removeClass('active');
//     $(this).addClass('active');
// });

$('#sidebarr li a').click(function() {
    $('#sidebarr li.active').removeClass('active');
    $(this).closest('li').addClass('active');
});
</script>

<script>
  $(document).ready(function() {

    $('#orders tr').click(function() {
        var href = $(this).find("a").attr("href");
        if(href) {
            window.location = href;
        }
    });

});
</script>