<!DOCTYPE html>
<html>
<head>
    <title>Medlife</title>
    
    <!--Fontawesome icons-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!--Bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <% if(!currentUser){ %>
                <ul class="navbar-nav ml-auto">
                    <%  if(session.cart && session.cart.totalQty > 0){ %>
                        <li class="nav-item">
                            <a class="nav-link" href="/shopping-cart">  <i class="fa fa-shopping-cart"></i> Shopping Cart <span class="badge badge-success badge-pill"><%= session.cart.totalQty %></span> </a>
                        </li>
                    <% } else{ %>
                        <li class="nav-item">
                            <a class="nav-link" href="/shopping-cart">  <i class="fa fa-shopping-cart"></i> Shopping Cart </a>
                        </li>
                    <% } %>
                    <li class="nav-item">
                        <a class="nav-link" href="/user/signin"> Sign In</a>
                    </li>   
                    <li class="nav-item">
                        <a class="nav-link" href="/user/signup"> Sign Up</a>
                    </li>               
                </ul>
            <% } else { %>
                <ul class="navbar-nav ml-auto">
                    <%  if(session.cart && session.cart.totalQty > 0){ %>
                        <li class="nav-item">
                            <a class="nav-link" href="/shopping-cart">  <i class="fa fa-shopping-cart"></i> Shopping Cart <span class="badge badge-success badge-pill"><%= session.cart.totalQty %></span> </a>
                        </li>
                    <% } else{ %>
                        <li class="nav-item">
                            <a class="nav-link" href="/shopping-cart">  <i class="fa fa-shopping-cart"></i> Shopping Cart </a>
                        </li>
                    <% } %>
                    
                    <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        User 
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/user/profile">Your Account</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/user/logout">Logout</a>
                    </div>
                    </li>                 
                </ul>
            <% } %>
        </div>
    </nav>
