<!doctype html>
<html lang="en">
    <head>
        <title>Home Page</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="/stylesheets/csshome/finalheader.css">
   <!--Fontawesome icons-->
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


     <!--Bootstrap  CSS-->
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


    <!--Bootstrap  JS-->
     <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" charset="utf-8"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script> -->


     <!--Used in home pg -->
        <!-- <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" ></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" ></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" charset="utf-8"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>  -->

            

    </head>
    <body>

    <!-- <div id="headd">
        This message is going to be replaced by the include file.
    </div> -->

    <!-- header start -->
    <!--Navbar-->
   <nav class="navbar navbar-expand-xl navbar-dark flex-column flex-md-row bd-navbar headd" >
        <div class="container con_head" style="max-width:100%">
        <div class="navbar-header ">
        <!-- Navbar brand -->
        <span class="navbar-brand">
            <a style="text-decoration: none;" href="/"><img style="margin-right: 10px;" src="/images/gallery/logo2.png" alt="medeasy logo" class="logo">
                <span class="name">MEDEASY</span></a>
        </span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        </div>

            <div  class="collapse md-navbar-collapse navbar-collapse " id="navbarSupportedContent" style="z-index: 15;
            background-color: rgb(86, 61, 124);
            width: 100%;
            margin-left: -16px;
            margin-right: -16px;
            margin-top: -3px;">
                                
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item ni active">
                        <div class="d-flex h-100">
                            <div class="searchbar">
                                <input class="search_input" type="text" id="searchName" placeholder="search...">
                                <a href="#" class="search_icon"><i class="fa fa-search"></i></a>
                                <div id="match-list"></div>
                            </div>
                        </div>
                    </li>
                </ul>
                
                <form class="form-inline my-2 my-lg-0">
                    <ul class="navbar-nav mr-auto">
                        <%  if(session.cart && session.cart.totalQty > 0){ %>
                            <li class="nav-item ni active ">
                                <a class="nav-link" href="/shopping-cart">Cart<i class="fa fa-shopping-cart"></i><span class="badge badge-success badge-pill">
                                    <%= session.cart.totalQty %>
                                </span></a>
                            </li>
                        <% } else{ %>
                            <li class="nav-item ni active">
                                <a class="nav-link" href="/shopping-cart">Cart<i class="fa fa-shopping-cart"></i></a>
                            </li>
                        <% } %>

                        <% if(!currentUser){ %>
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item ni active"><a class="nav-link" href="/user/signin">Login <i class="fa fa-user"></i></a></li>
                        <% } else { %>
                            <li  class="nav-item ni dropdown active">
                                <a class="nav-link dropdown-toggle extra" id="Username" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <%= currentUser.fullname %>
                                </a>
                                <div class="dropdown-menu  aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="/user/order-history">My Orders</a>
                                    <a class="dropdown-item" href="/user/logout">Logout</a>
                                </div>
                            </li>
                        <% } %>
                    </ul>
                </form>
            </div>
        </div>
    
        
</nav>


<!--
<!DOCTYPE html>
<html>
<head>
    <title>MedEasy</title>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />

    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <% if(!currentUser){ %>
                <ul class="navbar-nav ml-auto">
                    <%  if(session.cart && session.cart.totalQty > 0){ %>
                        <li class="nav-item">
                            <a class="nav-link" href="/shopping-cart">  <i class="fa fa-shopping-cart"></i> Shopping Cart <span class="badge badge-success badge-pill"><%= session.cart.totalQty %></span> </a>
                        </li>
                    <% } else{ %>
                        <li class="nav-item">
                            <a class="nav-link" href="/shopping-cart">  <i class="fa fa-shopping-cart"></i> Shopping Cart </a>
                        </li>
                    <% } %>
                    <li class="nav-item">
                        <a class="nav-link" href="/user/signin"> Sign In</a>
                    </li>   
                    <li class="nav-item">
                        <a class="nav-link" href="/user/signup"> Sign Up</a>
                    </li>               
                </ul>
            <% } else { %>
                <ul class="navbar-nav ml-auto">
                    <%  if(session.cart && session.cart.totalQty > 0){ %>
                        <li class="nav-item">
                            <a class="nav-link" href="/shopping-cart">  <i class="fa fa-shopping-cart"></i> Shopping Cart <span class="badge badge-success badge-pill"><%= session.cart.totalQty %></span> </a>
                        </li>
                    <% } else{ %>
                        <li class="nav-item">
                            <a class="nav-link" href="/shopping-cart">  <i class="fa fa-shopping-cart"></i> Shopping Cart </a>
                        </li>
                    <% } %>
                    
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            User 
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/user/profile">Your Account</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/user/logout">Logout</a>
                        </div>
                    </li>                 
                </ul>
            <% } %>
        </div>
    </nav>
-->

    <!--<div class="nav nav-bar navbar-left">
        <input type="text" id="searchName" placeholder="Search..">
    </div>
    <div id="match-list"></div>-->

    <script>
        const search = document.getElementById('searchName');
        const matchList = document.getElementById('match-list');
    
        const searchProducts = async searchText => {
            const res = await fetch('/api/products');
            const products = await res.json();
            //Get match to input
            let matches = products.filter(product => {
                const regex = new RegExp(`${searchText}`,'gi');
                console.log("Searchtext "+searchText);
                let tagsArray = product._tags.join(" ");
                console.log("tagsArray "+tagsArray);
                return  product.title.match(regex) || tagsArray.match(regex);
            });
            console.log("Matches: ",matches);
            if(searchText.length === 0 || matches.length === 0){
                matches=[];
                matchList.innerHTML ="";
            }
            outputHtml(matches);
        };
        //show result in html
        const outputHtml = matches =>{
            if(matches.length>0){
                const html = matches.slice(0,4).map(match => `
                    <div style="margin: 0;" class="card card-body">
                        <a href="/products/${match._id}">
                        <h5><img src="${match.image}" style="width:40px;height:40px">${match.title}-${match.tablets}</h5></a>
                    </div>
                `).join('');
                matchList.innerHTML = html;
            }
        }
        search.addEventListener('input',() => searchProducts(search.value))
    </script>


<!--
    <script>
        $(function(){
            $('#searchName').autocomplete({
                source: function(req,res){
                    $.ajax({
                        url: "autocomplete/",
                        dataType:"jsonp",
                        type: "GET",
                        data: req,
                        success: function(data){
                            res(data);
                        },
                        error: function(err){
                            console.log(err);
                        }
                    });
                },
                minLength: 1,
                select: function(event,ui){
                    if(ui.items){
                        $('#searchName').text(ui.item.label);
                    }
                }
            })
        })
    </script>
-->
