
.pagination {
    margin-top: 20px;
} 
.pr
{
    font-size: larger;
    font-weight: bold;
}
.line_hr
{
    height: 30px;
    border-style: solid;
    border-color:  #7952b3;
    border-width: 1px 0 0 0;
    border-radius: 20px; 
}
hr.line_hr:before {
  display: block;
  content: "";
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: #7952b3;
  border-width: 0 0 1px 0;
  border-radius: 20px;
  }
  .cat_hd
{
  margin-top:10px;
  text-align: left;
  padding-left: 5px;
}
.cart_button
{
    background-color:#7952b3;
    opacity: 0.9;
    color: whitesmoke;
    display: inline-block;
    font-weight: 400;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .28rem;
}
a span{
    color:black;
}
button:hover
{
    opacity:1;
}
.container .con1
{
    width:100%;
    height:250px;
    padding:0;
}
.container .con1 img
{
    max-width: 100%;
    height:100%;
}
.card-body
{
    background-color: rgb(241, 240, 243);
}

button:disabled{
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
} 

.card-img-top
{
    width:100%;
    height:100%;
}




.pagination{
    justify-content: center;
    align-items: center;
}

.page-link{
    border: 1px solid #7952b3;
    color: #7952b3;
    margin: 2px;
}