<link rel="stylesheet" href="/stylesheets/css/my_orders.css">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
<% include ../partials/header %>
<div  data-aos="zoom-in" class="container con1 payment wrapper" >
  <div class="payment-logo">
    <p>O</p>
  </div>
  <br>
  <h2>My Orders</h2>

  <div class="row">
    <div class="container">
        <div id="order_detailss" class="col-lg-12">
            <div class="box">
                <p class="text-muted">If you have any questions, please feel free to <a href="/#mapp">Contact us</a>.</p>
                <hr>
                <% if(orders.length > 0){ %>
                  <div class="table-responsive">
                    <table class="table">
                    <thead>
                        <tr>
                        <th>Order Id</th>
                        <th>Date</th>
                        <th>Total</th>
                        <th>Status</th>
                        <th>Action</th>
                        </tr>
                    </thead>
                    <tbody class="align-middle" style="font-weight:500;font-size:17px;vertical-align:center">
                      <% orders.forEach(function(order){ %>
                        <tr data-aos="fade-up">
                          <th><%= order._id %></th>
                          <% 
                            var d = order.purchaseDate;
                            var date = d.getDate() + '/' + (d.getMonth()+1) + '/' + d.getFullYear();
                          %>
                          <td><%= date %></td>
                          <td>₹ <%= order.cart.totalPrice %></td>
                          <% if(order.isConfirmed && order.isDelivered){ %>
                            <td><span class="badge badge-success">Delivered</span></td>
                          <% } else if(order.isConfirmed && !order.isDelivered){ %>
                            <td><span class="badge badge-info">Confirmed</span></td>
                          <% } else { %>
                            <td><span class="badge badge-warning">Order Placed</span></td>
                          <% } %>
                          <td><a href="/user/order-history/details/<%= order._id %>" class="btn btn-primary btn-sm">View</a></td>
                        </tr>
                      <% }) %>
                    </tbody>
                    </table>
                </div>
                <% } else { %>
                  <div>
                    <div style="text-align: center;font-size: 30px;font-weight: 700;" >No Orders</div>
                  </div>
                <% } %>
                <div  style="text-align: center;margin-top: 50px;">
                  <a href="/" class="btn btn-primary">Continue Shopping</a>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
  
<script src="/javascripts/aos.js"></script> 
<script>
    AOS.init();
</script>

</body>
</html>