<% include ../partials/header %>



<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Colorlib Templates">
    <meta name="author" content="Colorlib">
    <meta name="keywords" content="Colorlib Templates">
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Main CSS-->
    <link href="/stylesheets/css/main.css" rel="stylesheet" media="all">

<!--
    <div class="row">
    <div class="col-md-4">
        <% if(hasError){ %>
            <div class="alert alert-danger">
                <% messages.forEach(function(errmessage){ %>
                    <p><%= errmessage %></p>
                <% }) %>
            </div>
        <% } %>
        <h1>Sign In</h1>
        <form name="myform" action="/user/signin" method="POST">

            <div class="form-group">
                <label for="email">E-mail</label>
                <input type="text" id="email" name="email" class="form-control">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" class="form-control">
            </div>
            <!-- <input type="hidden" name="_csrf" value="ejstag csrfToken "> -->
        <!-- <button type="submit" class="btn btn-primary">Sign In</button>
        </form>

        <p>Don't have an account? <a href="/user/signup">Sign Up instead!</a></p>
    </div>
</div>

-->

<div class="page-wrapper bg-gra-01 p-t-180 p-b-100 font-poppins">
    <div class="wrapper wrapper--w780">
        <% if(hasError){ %>
            <div class="alert alert-danger">
                <% messages.forEach(function(errmessage){ %>
                    <p style="text-align: center;"><%= errmessage %></p>
                <% }) %>
            </div>
        <% } %>
        <div data-aos="zoom-in" class="card card-3">
            <div class="card-heading">
            </div>
            <div class="card-body">
                <h2 class="title">Sign In</h2>
                <form name="myform" action="/user/signin" method="POST">
                    <div class="input-group">
                        <input class="input--style-3" type="email" id="email" placeholder="Email" name="email">
                    </div>
                    <div class="input-group">
                        <input class="input--style-3" type="password" id="password" placeholder="Password" name="password">
                    </div>
                    <div class="p-t-10">
                        <button class="btn btn--pill btn--green" type="submit">Sign In</button>
                    </div>
                </form>
                <p  style="padding-top: 15px;" >
                    <a style="text-decoration: none;font-size: 14px;" href="/user/signup">Don't have an account? Sign Up now </a>
                </p>
            </div>
        </div>
    </div>
</div>




<script src="/javascripts/aos.js"></script> 
<script>
    AOS.init();
</script>


<% include ../partials/footer %>
