/* body
{
    font-family:Roboto;
}  */
.container.con1
{
    background-color: white;
    margin-top:50px;
    margin-bottom: 50px;
    border: 1px solid lightgrey;
    border-radius: 10px;
    padding: 5px 20px 15px 20px;
    width:63%;
    height:100%;
}
/* .container.con2
{
    height: fit-content;
} */
/* .con3
{
    margin-top: 5rem;

} */
b{
    color: gray;
}
.col-lg-5 .image
{
    border-right: 1.5px solid lightgrey;
    align-content: center;
    display:inline-block;
    height:100%;  
} 
.col-xs-12 .image
{
    height:100%;
    display:inline-block;
}
.category_name
{
    background-color: green;
    width: 200px;
    height:30px;
    color:white;
    font-size:16px;
    font-weight: bold;
    text-transform: uppercase;
}
.cont h2
{
    color: #555;
}

.price
{
    color:#7952b3;
    font-size: 26px;
    font-weight: bold;

}

/* input[type="number"]
{
    
    font-weight: bold;
    height: 33px;
    text-align: center;
    width: 60px;
}  */


.cart_button
{
    background-color:#7952b3;
    color: whitesmoke;
    display: inline-block;
    font-weight: 400;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .28rem;
    width:100%;
}

.exp
{
    text-align: center;

}
button:hover
{
    opacity:1;
}

#myTab{
    margin-top: 10px;
}

.nav-link
{
    color: #7952b3;
    /* font-weight: bolder; */
}
/* .minus:hover{
    background-color:  #7952b3 !important;
}
.plus:hover{
    background-color: #7952b3 !important;
}
.t_amt span .tp
{
    line-height: 10px;
    font-weight: bolder;
    font-size: 23px;
    font-family: sans-serif;

}

.qty .count {
    padding: 0;
    margin: 0;
    color: #000;
    display: inline-block;
    vertical-align: top;
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    padding: 0 2px;
    text-align: center;
}
.qty .plus {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    color: white;
    width: 30px;
    height: 30px;
    font: 30px/1 Arial,sans-serif;
    text-align: center;
    border-radius: 50%;
    }
.qty .minus {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    color: white;
    width: 30px;
    height: 30px;
    font: 30px/1 Arial,sans-serif;
    text-align: center;
    border-radius: 50%;
    background-clip: padding-box;
} */

/*Prevent text selection*/
span{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
input{  
    border: 0;
    width: 2%;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input:disabled{
    background-color:white;
}





/* 

.detail1{
    margin-top: 20px;
}
.detail2{
    margin-bottom: 50px;
} */


button:disabled{
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
} 

.inStock{
    color: green;
    font-weight: 700;
}

.outOfStock{
    color: red;
    font-weight: 700;
}




@import url('https://fonts.googleapis.com/css?family=Baloo+Bhaijaan|Ubuntu');
body
{
	font-family:Roboto;
	/* background: #2196F3;
	background: -webkit-linear-gradient(to right, #8ef7ff, #2196F3); 
  background: linear-gradient(to right, #8ef7ff, #2196F3);  */
    background: -webkit-gradient(linear, left bottom, left top, from(#eb99eb), to(#a18cd1));
    background: -webkit-linear-gradient(bottom, #fbc2eb 0%, #a18cd1 100%);
    background: -moz-linear-gradient(bottom, #fbc2eb 0%, #a18cd1 100%);
    background: -o-linear-gradient(bottom, #fbc2eb 0%, #a18cd1 100%);
    background: linear-gradient(to top, #fbc2eb 0%, #a18cd1 100%);
}

/* .payment{
  padding: 5px 20px 15px 20px;
  border-radius: 3px;
  margin-top:1rem;
  background: #f8f8f8;
  margin: 80px auto;
  height: 90%;
  padding: 35px;
  padding-top:40px;
  border-radius: 5px;
  position: relative;
} 

.jumbo
{
border:1px solid black;
width:10rem;
padding:1rem;
}
.not_selected
{
display:none;
} */
  
  /* .payment-logo{
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    background: #f8f8f8;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    text-align: center;
    line-height: 85px;
  }
  
  .payment-logo:before{
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 90px;
    height: 90px;
    background:#7952b3;
    border-radius: 50%;
  }
  
  .payment-logo p{
    position: relative;
    color: #f8f8f8;
    font-family: 'Baloo Bhaijaan', cursive;
    font-size: 58px;
    vertical-align: middle;
  }
  */

  /* .payment h2{
    text-align: center;
    letter-spacing: 2px;
    margin-bottom: 15px;
    color: #0d3c61;
  } */