<html>
    <head>
        <title>Checkout page</title>
        <link rel="stylesheet" href="checkout.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" >
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <script type="text/javascript" src="C:\Users\sakshi\Desktop\TodoListProject\assets\js\lib\jQuery-2.1.4.min.js"></script>
    </head>
 <body>
    <div class="container con1 payment wrapper ">
      <div class="payment-logo">
        <p>p</p>
      </div>
      <h2>Payment Gateway</h2>
    <div class="row">
        <div class="col-8">
          <div class="container con2">
              <div class="row">
                <div class="col-6">
                  <div class="container con_bil">
                    <form >
                      <h3>Billing Address</h3>
                      <label for="fname"><i class="fa fa-user"></i> Full Name</label>
                      <input type="text" id="fname" name="firstname" placeholder="John M. Doe">
                      <label for="email"><i class="fa fa-envelope"></i> Email</label>
                      <input type="text" id="email" name="email" placeholder="john@example.com">
                      <label for="adr"><i class="fa fa-address-card-o"></i> Address</label>
                      <input type="text" id="adr" name="address" placeholder="542 W. 15th Street">
                      <label for="city"><i class="fa fa-institution"></i> City</label>
                      <input type="text" id="city" name="city" placeholder="New York">
                    <div class="row">
                      <div class="col-6">
                        <label for="state">State</label>
                        <input type="text" id="state" name="state" placeholder="NY">
                      </div>
                      <div class="col-5">
                        <label for="zip">Zip</label>
                        <input type="text" id="zip" name="zip" placeholder="10001">
                      </div>
                  </div>
                  </form>
                </div>
              </div>
      
                <div class="col-6">
                  <div style="font-size:18px;color:gray">Accepted cards</div>
                  <div class="icon-container">
                    <i class="fa fa-cc-visa" style="color:navy;"></i>
                    <i class="fa fa-cc-amex" style="color:blue;"></i>
                    <i class="fa fa-cc-mastercard" style="color:red;"></i>
                    <i class="fa fa-cc-discover" style="color:orange;"></i>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="Radio" id="Radio1" value="a" >
                      <label class="form-check-label" for="Radio1">
                      Online Payment
                      </label>
                   </div>
                   <div class="container con_pay not_selected" id="pay">
                    <form>
                    <label for="cname">Name on Card</label>
                    <input type="text" id="cname" name="cardname" placeholder="John More Doe">
                    <label for="ccnum">Credit card number</label>
                    <input type="text" id="ccnum" name="cardnumber" placeholder="1111-2222-3333-4444">
                    <label for="expmonth">Exp Month</label>
                    <input type="text" id="expmonth" name="expmonth" placeholder="September">
        
                    <div class="row">
                      <div class="col-6">
                        <label for="expyear">Exp Year</label>
                        <input type="text" id="expyear" name="expyear" placeholder="2018">
                      </div>
                      <div class="col-6">
                        <label for="cvv">CVV</label>
                        <input type="text" id="cvv" name="cvv" placeholder="352">
                      </div>
                    </div>
                    </form>
                  </div>
                  </div>
                  <hr>
                  <div class="icon-container">
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="Radio" id="Radio2" value="b" checked>
                      <label class="form-check-label" for="Radio2">
                      Cash on delivery
                      </label>
                      <i class="fa fa-money" style="color:green;"></i>
                   </div>
                  </div>
            
                  <div class="btn btn-success">Proceed to pay</div>
                </div>
              </div>

          </div>
        </div>
        <div class="col-4">
          <div class="container con3">
            <h4>Order Summary
              <span class="price" style="color:black">
                <i class="fa fa-shopping-cart"></i>
                <b>4</b>
              </span>
            </h4>
            <p><a href="Link to that id show page">Product 1</a> <span class="price">$15</span></p>
            <p><a href="Link to that id show page">Product 2</a> <span class="price">$5</span></p>
            <p><a href="Link to that id show page">Product 3</a> <span class="price">$8</span></p>
            <p><a href="Link to that id show page">Product 4</a> <span class="price">$2</span></p>
            <hr>
            <p>Total <span class="price" style="color:black"><b>$30</b></span></p>
          </div>
        </div>
      </div>
      </div>
      <script type="text/javascript" src="checkout.js"></script>
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
 </body>   
 </html>
