<% include ../partials/header %>
   <!-- header end -->
    <link rel="stylesheet" href="/stylesheets/csshome/home_pg.css">
    <link rel="stylesheet" href="/stylesheets/csshome/map.css">
    <link rel="stylesheet" href="/stylesheets/csshome/brands.css">
    <link rel="stylesheet" href="/stylesheets/csshome/footer.css">
<!--     
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" charset="utf-8"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" ></script> -->

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    

     <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" charset="utf-8"></script> -->
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" > -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" ></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
 

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" charset="utf-8"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/js/all.min.js" charset="utf-8"></script> -->
   

    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" charset="utf-8"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>
 
    <!-- home page starts -->
    <!--            offers -->
    <div id="wrapper">   
        <div class="boxx con1">
          <div class="row justify-content-center">
            <div style="margin-bottom: 0;" class="col-sm-12 col-md-12">
                <div id="success" class="alert alert-success <% if(noMessages){ %> d-none <% } %>" >
                    <% if(isIcon){ %>
                        <i class="fa fa-check" aria-hidden="true"></i> <%= successMsg %>
                    <% } else { %>
                        <%= successMsg %>
                    <% } %>
                </div>
                <div id="error" class="alert alert-danger <% if(noError){ %> d-none <% } %>" >
                    <%= errorMsg %>
                </div>
            </div>
        </div>
            <div id="demo" class="carousel slide" data-ride="carousel">

            <!-- Indicators -->
            <ul class="carousel-indicators">
                <li data-target="#demo" data-slide-to="0" class="active"></li>
                <li data-target="#demo" data-slide-to="1"></li>
                <li data-target="#demo" data-slide-to="2"></li>
            </ul>

        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/images/gallery/medeasy2.png" alt="sale" >
            </div>
            <div class="carousel-item">
                <img src="/images/gallery/offer1.png" alt="sale"   >
            </div>
            <div class="carousel-item">
                <img src="/images/gallery/offer3.png"alt="sale" class="offer" >
            </div>
        </div>
            <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev" role="button">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next" role="button">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </a>
        </div>    

        <!--     offers end -->
    </br>

    <!--     Category  -->
        <div class="boxx con2">
            <div class= "box">
                <div class="box-row">
                  <h1 class="cat_head hh1" style="text-align: center;text-decoration: none;">Category</h1>
                </div>
        </div>
        <hr class="line">
        <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="inner" > 
                <a href="/category/ayurveda">    
                <div class="head_name">
              <h4>Ayurveda</h4>
              </div>
              <hr>
              <div class="image">
                  <img src="/images/gallery/ayurveda.jpg" alt="category img"  >  
                </div>
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="inner">
              <a href="/category/baby-and-mom-care">
                <div class="head_name">
              <h4>Baby & Mom Care</h4>
                </div>
              <hr>
              <div class="image">
                  <img src="/images/gallery/Baby&Mom care.jpg" alt="category img"  >
              </div>
              </a>
            </div>
          </div>


          <div class="col-lg-3  col-md-4 col-sm-6 col-xs-12">
            <div class="inner">
              <a href="/category/diabetic-care">
                <div class="head_name">
              <h4>Diabetic Care</h4>
                </div>
              <hr>
              <div class="image">
                  <img src="/images/gallery/diabetic care.jpg" alt="category img"  >
              </div>
            </a>
            </div>
          </div>

          <div class="col-lg-3  col-md-4 col-sm-6 col-xs-12">
            <div class="inner"> 
              <a href="/category/health-conditions">         
              <div class="head_name">
                <h4>Health Conditions</h4>
              </div>
              <hr>
              <div class="image">
                  <img src="/images/gallery/Health-condition.jpg" alt="category img"  >
              </div>
              </a>
            </div>
          </div>

          <div class="col-lg-3  col-md-4 col-sm-6 col-xs-12">
            <div class="inner"> 
              <a href="/category/homeopathy">  
                <div class="head_name">     
              <h4>Homeopathy</h4>
                </div>
              <hr>
              <div class="image">
                  <img src="/images/gallery/homeopathy.jpg" alt="category img"  >
              </div>
              </a>
            </div>
          </div>

          <div class="col-lg-3  col-md-4 col-sm-6 col-xs-12">
            <div class="inner"> 
              <a href="/category/medicines">
                <div class="head_name">
              <h4>Medicines</h4>
                </div>
              <hr>
              <div class="image">
                  <img src="/images/gallery/medicines.jpg" alt="category img"  >
              </div>
              </a>
            </div>
          </div>

          <div class="col-lg-3  col-md-4 col-sm-6 col-xs-12">
            <div class="inner"> 
              <a href="/category/nutritions">
                <div class="head_name">
                  <h4>Nutritions</h4>
                </div>
              
              <hr>
              <div class="image">
                  <img src="/images/gallery/Nutrition.jpg" alt="category img"  >
              </div>
              </a>
            </div>
          </div>

          <div class="col-lg-3  col-md-4 col-sm-6 col-xs-12">
            <div class="inner"> 
              <a href="/category/personal-care">  
                <div class="head_name">
              <h4>Personal Care </h4>
                </div>
              <hr>
              <div class="image">
                  <img src="/images/gallery/personal care.jpg" alt="category img"  >
              </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!--    category ends -->
<br/>
<!--         brands -->
<div class="container con-brands">
  <h1 class="brands_head hh1">Our Top Brands</h1>
  <hr class="line">
   <section class="customer-logos slider">
      <div class="slide"><a href="#"><img src="/images/gallery/horlicks.jpg" class="brand"></a></div>
     <div class="slide">
       <a href="#"><img src="/images/gallery/dettol.jpg" class="brand"></a></div>
     <div class="slide"><a href="#"><img src="/images/gallery/stayfree.jpg" class="brand"></a></div>
     <div class="slide"><a href="#"><img src="/images/gallery/pediasure.jpg" class="brand"></a></div>
     <div class="slide"><a href="#"><img src="/images/gallery/zandu.jpg" class="brand"></a></div>
     <div class="slide"><a href="#"><img src="/images/gallery/Johnsons.png" class="brand"></a></div>
     <div class="slide"><a href="#"><img src="/images/gallery/pedigree.jpg" class="brand"></a></div>
     <div class="slide"><a href="#"><img src="/images/gallery/accu-chek.jpeg" class="brand"></a></div>
  
   </section>
</div>

<!--        brands ends -->
<br/>
<!-- contact us -->
    <div class="container contact" id="mapp">
      <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 c">
              <br>
                  <h5  class="head_contact">Contact Us</h5>
                  <br>
                  <dl class="contact-list">
                    <dt><i class="fa fa-globe" style="color:#000"></i>Address:</dt>
                    <dd>Shop No 1, Gandhi Market, Mahatma Gandhi Road, Ghatkopar East, Ghatkopar East, Mumbai, Maharashtra 400077, India.
                    </dd>
                  </dl>
                  <dl class="contact-list">
                    <dt><i class="fa fa-envelope" style="color:#000"></i>Email:</dt>
                    <dd><a href="mailto:#">medeasy@gmail.com</a></dd>
                  </dl>
                  <dl class="contact-list">
                    <dt><i class="fa fa-phone" style="color:#000"></i>Phone No.:</dt>
                    <dd><a href="tel:#">12334567890</a> <span>or</span> <a href="tel:#">0987654321</a>
                    </dd>
                  </dl>
              
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
              
          <div class="mapouter">
              <div class="gmap_canvas">
                  <iframe width="100%" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=mahavir%20medical%20stores%2Cghatkopar%20east&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="2" scrolling="yes" marginheight="2" marginwidth="2">
                  </iframe>
                  <a href="https://www.enable-javascript.net/blog/divi-discount/">enable-javascript.net</a>
              </div>
          </div>
      </div>
    </div>
    </div>


<!-- contact us ends -->
    </br>

      <!-- Our service -->
      <section class="services-section con3">
        <div class="inner-width">
          <h1 class="hh1">Our Services</h1>
          <hr class="line">
          <div class="services owl-carousel">

            <div class="service">
              <div class="service-icon">
                <i class="fa fa-shield"></i>
              </div>
              <div class="service-name">Secure Payment</div>
              <div class="service-desc">100% secure and trusted payment protection</div>
            </div>
  
            <div class="service">
              <div class="service-icon">
                <i class="fa fa-calendar-check-o"></i>
              </div>
              <div class="service-name">Easy Return</div>
              <div class="service-desc">30-day return policy for medicines and 2 days for Healthcare item(s). Refer FAQs section for more details.</div>
            </div>
  
            <div class="service">
              <div class="service-icon">
                <i class="fa fa-credit-card"></i>
              </div>
              <div class="service-name">Affordable</div>
              <div class="service-desc">Enjoy 20% off on all medicines.</div>
            </div>
  
            <div class="service">
              <div class="service-icon">
                <i class="fa fa-database"></i>
              </div>
              <div class="service-name">Manage Databases</div>
              <div class="service-desc">We maintain strict quality controls on all our products.</div>
            </div>
  
            <div class="service">
              <div class="service-icon">
                <i class="fa fa-phone"></i>
              </div>
              <div class="service-name">Support</div>
              <div class="service-desc">Our support team is 24/7 available to answer your questions and solve your problems via phone, email or chat. </div>
            </div>
          </div>
        </div>
      </section>

      <!-- our service ends -->
    </div>
  </div>
  <!--   page ends     -->
  <!-- footer -->
  <section id="footer">
		<div class="container">
			<div class="row text-center text-xs-center text-sm-left text-md-left">
				<div class="col-xs-12 col-sm-4 col-md-4">
					<h5>TOP BRANDS</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="#"><i class="fa fa-angle-double-right"></i> Dettol</a></li>
						<li><a href="#"><i class="fa fa-angle-double-right"></i> Pedia Sure</a></li>
						<li><a href="#"><i class="fa fa-angle-double-right"></i> Zandu</a></li>
						<li><a href="#"><i class="fa fa-angle-double-right"></i> Johnson's</a></li>
                        <li><a href="#"><i class="fa fa-angle-double-right"></i> Pedigree</a></li>
						<li><a href="#"><i class="fa fa-angle-double-right"></i> Accu-check</a></li>
						<li><a href="#"><i class="fa fa-angle-double-right"></i> Horlicks</a></li>
						<li><a href="#"><i class="fa fa-angle-double-right"></i> Stayfree</a></li>	
					</ul>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
					<h5>CATEGORIES</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i> Ayurveda</a></li>
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i> Baby & Mom Care</a></li>
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i> Diabetic Care</a></li>
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i> Healthy Conditions</a></li>
            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i> Homeopathy</a></li>
            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i> Medicines</a></li>
            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i> Nutritions</a></li>
            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i> Personal Care</a></li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4">
					<a href="/developer"><h5>OUR TEAM</h5></a>
					<ul class="list-unstyled quick-links">
						<li><a href="/developer"><i class="fa fa-angle-double-right"></i> Shubh Shah</a></li>
						<li><a href="/developer"><i class="fa fa-angle-double-right"></i> Sakshi Shelar</a></li>
						<li><a href="/developer"><i class="fa fa-angle-double-right"></i> Hiral Sheth</a></li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
					<ul class="list-unstyled list-inline social text-center">
						<li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-facebook"></i></a></li>
						<li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-twitter"></i></a></li>
						<li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-instagram"></i></a></li>
						<li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-google-plus"></i></a></li>
						<li class="list-inline-item"><a href="javascript:void();" target="_blank"><i class="fa fa-envelope"></i></a></li>
					</ul>
				</div>
			</div>	
			
		</div>
	</section>
<!-- footer ends -->

    <script>
      // services
    $(".services").owlCarousel({
        margin:20,
        loop:true,
        autoplay:true,
        autoplayTimeout:4000,
        autoplayHoverPause:true,
        responsive:{
          0:{
            items:1//display 1 items on screen when screen-width=0
          },
          600:{
            items:2//display 2 items on screen when screen-width=600
          },
          1200:{
            items:4//display 4 items on screen when screen-max
          }
        }
      });
    </script>
    <script>
      // brands
      $(document).ready(function(){
    $('.customer-logos').slick({
        slidesToShow: 6,
        slidesToScroll: 1,
        autoplay: true,
        autoplaySpeed: 1200,
        arrows: false,
        dots: false,
        pauseOnHover: false,
        responsive: [{
            breakpoint: 1200,
            settings: {
                slidesToShow: 5
            }
        }, 
        {
            breakpoint: 1000,
            settings: {
                slidesToShow: 4
            }
        },
        {
            breakpoint: 768,
            settings: {
                slidesToShow: 3
            }
        },{
            breakpoint: 520,
            settings: {
                slidesToShow: 2
            }
        }]
    });
});
      </script>



    </body>
    </html>

 